###  Work Sharing: All Possible Regression

Work sharing.  Explore the concept of eliminating redundant work.

Python reimplementation of the Section 3.4. in PCDS.
Python data and some code from https://www.kaggle.com/divan0/multiple-linear-regression.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

#importing dataset using panda
dataset = pd.read_csv('../../input/kc_house_data.csv')
#to see what my dataset is comprised of
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
#dropping the id and date column
dataset = dataset.drop(['id','date'], axis = 1)

# clean out NaN and inf values
dataset = dataset[~dataset.isin([np.nan, np.inf, -np.inf]).any(1)]

In [4]:
from itertools import combinations, chain

Y = np.array(dataset.price)
X = np.array(dataset.drop(['price'], axis=1))

## Let's choose all combinations of 1, 2, and 3 columns.
col_idxs = np.array(range(X.shape[1]))
combos = list(chain(combinations(col_idxs, 1), combinations(col_idxs, 2), combinations(col_idxs, 3)))

In [7]:
from sklearn.linear_model import LinearRegression

def r_sq_regression (combo):
    Xp = X[:,combo]
    model = LinearRegression()
    model = model.fit(Xp,Y)
    return model.score(Xp,Y)

This is our base implementation from the `allpossibleregressions` notebook. This is the parallel version we want to improve.

In [8]:
%%timeit
from joblib import Parallel, delayed
r_sq_arr = Parallel(n_jobs=4)(delayed(r_sq_regression)(combo) for combo in combos)

r_sq_idx = np.argmax(r_sq_arr)
print(r_sq_arr[r_sq_idx], combos[r_sq_idx])

0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
0.6095149101819037 (2, 6, 14)
742 ms Â± 39.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

Explore dispatch, dynamic schedule

**RBTODO** work on decomposition issues with dask.

### Reusing Work with 

$$\beta = (X'X)^{-1}X'Y$$

this example is driven from https://online.stat.psu.edu/stat462/node/132/

making sure that we have the linear algebra right.  The standard is to add a constant term to the predictor matrix, that is the column of ones.

In [9]:
import numpy as np

X1 = np.ones([7,1])
X2 = np.array([[4.0], [4.5], [5.0], [5.5], [6.0], [6.5], [7.0]])

Y = np.array([[33], [42], [45], [51], [53], [61], [62]])

X = np.append(X1,X2,axis=1)
XtX = (X.transpose().dot(X))

XtXi = np.linalg.inv(XtX)

print(XtXi)

XtY = X.transpose().dot(Y)

#print(XtY)

beta = XtXi.dot(XtY)

print(beta)

[[ 4.46428571 -0.78571429]
 [-0.78571429  0.14285714]]
[[-2.67857143]
 [ 9.5       ]]

Validate against python. OK interesing it's not exactly the same, but it becomes the same when we use `fit_intercept`

In [10]:
model = LinearRegression(fit_intercept=False)
model.fit(X,Y)
model.coef_

array([[-2.67857143,  9.5       ]])

now, onto the big matrix.  Still adding a column of ones.

In [11]:
#importing dataset using panda
dataset = pd.read_csv('../../input/kc_house_data.csv')

#dropping the id and date column
dataset = dataset.drop(['id','date'], axis = 1)

# clean out NaN and inf values
dataset = dataset[~dataset.isin([np.nan, np.inf, -np.inf]).any(1)]

Y = np.array(dataset.price)

Xcols= np.array(dataset.drop(['price'], axis=1))
print(Xcols.shape)
X1 = np.ones((Xcols.shape[0],1))
#print(X1.shape)
X = np.append(X1,Xcols,axis=1)
#print(X.shape)
#print(X)

XtX = (X.transpose().dot(X))
XtXi = np.linalg.inv(XtX)

#print(XtXi.shape)

XtY = X.transpose().dot(Y)

#print(XtY.shape)

beta = XtXi.dot(XtY)
beta

(21611, 18)

array([ 9.71206732e+06, -1.01054194e+06,  7.52030410e+05,  9.81500995e+03,
       -5.25399159e-02,  4.31542974e+03, -1.37125608e+06,  2.60295135e+05,
        2.78173602e+04,  4.10149673e+03, -9.52050699e+03, -9.65571661e+03,
       -2.62069425e+03,  1.97942310e+01, -5.82812760e+02,  6.02776383e+05,
       -2.14716799e+05,  2.16582683e+01, -3.82786541e-01])

Compare our beta with the model

In [12]:
model = LinearRegression(fit_intercept=False)
model.fit(X,Y)
model.coef_

array([ 6.73020517e+06, -3.57878576e+04,  4.11258225e+04,  1.10499660e+02,
        1.28523487e-01,  6.69734377e+03,  5.82968552e+05,  5.28564052e+04,
        2.63645375e+04,  9.58850129e+04,  7.07733568e+01,  3.97165187e+01,
       -2.62069425e+03,  1.97942310e+01, -5.82812760e+02,  6.02776383e+05,
       -2.14716799e+05,  2.16582682e+01, -3.82786541e-01])

OK get it right for 1 column on the big data.

In [13]:
Xcols= np.array(dataset.drop(['price'], axis=1))
Xcols=Xcols[:,3].reshape([-1,1])
X1 = np.ones((Xcols.shape[0],1))
#print(X1.shape)
#print(Xcols.shape)
X = np.append(X1,Xcols,axis=1)

model = LinearRegression(fit_intercept=False)
model.fit(X,Y)
print(model.coef_)

XtX = (X.transpose().dot(X))
XtXi = np.linalg.inv(XtX)
#print(XtXi)
XtY = X.transpose().dot(Y)
beta = XtXi.dot(XtY)
print(beta)

[5.28078836e+05 7.94706033e-01]
[5.28078836e+05 7.94706033e-01]

Let's try for two.

In [14]:
Xcols= np.array(dataset.drop(['price'], axis=1))
Xcols=Xcols[:,3:5]
X1 = np.ones((Xcols.shape[0],1))
#print(X1.shape)
#print(Xcols.shape)
X = np.append(X1,Xcols,axis=1)

model = LinearRegression(fit_intercept=False)
model.fit(X,Y)
print(model.coef_)

XtX = (X.transpose().dot(X))
#print(XtX)
XtXi = np.linalg.inv(XtX)
#print(XtXi)
XtY = X.transpose().dot(Y)
beta = XtXi.dot(XtY)
print(beta)

[2.66499983e+05 8.06578955e-01 1.74927360e+05]
[2.66499983e+05 8.06578955e-01 1.74927360e+05]

ok, now let's subset from the full matrix and invert to solve

In [15]:
#take the full matrix and compute XtX
Xall = np.array(dataset.drop(['price'], axis=1))
X1 = np.ones((Xcols.shape[0],1))
X = np.append(X1,Xall[:,:],axis=1)

#compute XtX on whole matrix
XtX = (X.transpose().dot(X))

#subset the relevant parameters
XtXsub = XtX[np.ix_([0,4,5],[0,4,5])]

#verify the same matrix subset
#print(XtXsub)

#compute based on subset
XtXi = np.linalg.inv(XtXsub)
XtY = X[:,[0,4,5]].transpose().dot(Y)
beta = XtXi.dot(XtY)
print(beta)

[2.66499983e+05 8.06578955e-01 1.74927360e+05]

We have verified the correctness of the subset. Let's run the experiment using shared, pre-computed XtX.  First do it in a for loop.

In [16]:
from itertools import combinations, chain

#take the full matrix and compute XtX
Xall = np.array(dataset.drop(['price'], axis=1))
X1 = np.ones((Xcols.shape[0],1))
X = np.append(X1,Xall[:,:],axis=1)

#compute XtX on whole matrix
XtX = (X.transpose().dot(X))

## Let's choose all combinations of 1, 2, and 3 columns.
col_idxs = np.array(range(Xall.shape[1]))
combos = list(chain(combinations(col_idxs, 1), combinations(col_idxs, 2), combinations(col_idxs, 3)))

# indexing is off by one 3,4 -> 4,5 because we added X1
for combo in combos:
    thiscombo = [0] + [x+1 for x in combo]
    #print(thiscombo)
    XtXsub = XtX[np.ix_(thiscombo,thiscombo)]
    #print(XtXsub)
    XtXi = np.linalg.inv(XtXsub)
    XtY = X[:,thiscombo].transpose().dot(Y)
    beta = XtXi.dot(XtY)
    #print(beta)

In [17]:
def work_shared_regression (combo):
    thiscombo = [0] + [x+1 for x in combo]
    XtXsub = XtX[np.ix_(thiscombo,thiscombo)]
    XtXi = np.linalg.inv(XtXsub)
    XtY = X[:,thiscombo].transpose().dot(Y)
    beta = XtXi.dot(XtY)
    return beta

In [18]:
%%timeit
from joblib import Parallel, delayed

# you must pay for the global setup

#compute XtX on whole matrix
XtX = (X.transpose().dot(X))

#then parallelize with work sharing
betas = Parallel(n_jobs=4)(delayed(work_shared_regression)(combo) for combo in combos)
#print(betas)

373 ms Â± 22.9 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)